@import '~@fluentui/react/dist/sass/References.scss';

// Dodaj globalne style dla czcionek Brand Center (opcjonalnie)
:global {
  --fontFamilyCustomFont100: var(--fontFamilyCustomFont100, var(--fontFamilyBase));
  // Możesz dodać inne sloty czcionek, jeśli są dostępne w Brand Center
}

.reactAccordion {
  font-family: var(--fontFamilyCustomFont100, var(--fontFamilyBase));

  .container {
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
    // Możesz dodać inną czcionkę Brand Center dla nagłówków, np.:
    // font-family: var(--fontFamilyCustomFont200, var(--fontFamilyBase));
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    text-decoration: none;
    height: 32px;
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
    outline: transparent;
    position: relative;
    // Zmieniamy font-family na Brand Center
    font-family: var(--fontFamilyCustomFont100, "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif);
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
